body{
    background: rgb(39, 39, 39);

    overflow: scroll;
}

.Banner{
    background: black;
    border: 5px solid cyan;
    border-radius: 10px;
    width: 75%;
    margin:20px auto;
    text-decoration: none;
    font-size: 20px;
    font-display: black;
    text-align: center;
    padding: 30px;
}
.Banner a{
    text-decoration: none;
    color: magenta;
    padding: 10px;
    border-radius: 15px;
    background: black;
}
.Banner a:hover{
    color:blue;
    background: gray;
}

header{
    background: white;
    font-size: 40px;
    padding: 20px;
    text-align: center;
}

.PageContent{
    background: rgb(131, 131, 131);
    font-size: 25px;
    padding: 10px;
    text-align: left;
}
.PageContent a{
    text-decoration: none;
    color: blue;
}
.PageContent a:hover{
    color: red;
}